In [9]:
import pandas as pd

In [10]:
df= pd.read_csv('datalist/CACD.csv')

In [17]:
df.head()

                     filename  rank  age  identity fold database
0  53_Robin_Williams_0001.jpg     1   53         1  val     CACD
1  53_Robin_Williams_0002.jpg     1   53         1  val     CACD
2  53_Robin_Williams_0003.jpg     1   53         1  val     CACD
3  53_Robin_Williams_0004.jpg     1   53         1  val     CACD
4  53_Robin_Williams_0005.jpg     1   53         1  val     CACD

In [16]:
df= df.drop('Unnamed: 0.1',axis=1)

In [20]:
df.head()

                     filename  rank  age  identity fold database
0  53_Robin_Williams_0001.jpg     1   53         1  val     CACD
1  53_Robin_Williams_0002.jpg     1   53         1  val     CACD
2  53_Robin_Williams_0003.jpg     1   53         1  val     CACD
3  53_Robin_Williams_0004.jpg     1   53         1  val     CACD
4  53_Robin_Williams_0005.jpg     1   53         1  val     CACD

In [21]:
df.to_csv('CACD1.csv')